<div class="note-show">

<ul>
<li>
<h3><strong><%= @note.title %></strong></h3>
</li>

<li style="vertical-align:bottom; color:#808080;">
<%= @note.created_at.to_formatted_s(:without_second) %>
</li>
</ul>

<% if @note.photo.present? %>

<%= image_tag(@note.photo, {class:"note-index-photo"}) %>

<%end%>

<ul>
<li>
  <p><%= @note.content.html_safe %></p>
</li>

<div id="map" style='width: 100%; height: 380px;'></div>
 
  <script>

      function initMap() {

        var myLatLng = {lat: <%= @note.latitude %>, lng: <%= @note.longitude %>};

        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 14
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
        });  

      }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GMAP_API_KEY']%>&callback=initMap"
    async defer></script>


<li>

<li class="star-rating" data-score=<%= @note.rating %>></li>

<table style="width:100%; margin-top:10px;">
<% if user_signed_in? %>


<td><%= link_to 'Back', notes_path %></td>

<td style="text-align:right;"><%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Destroy', note_path(@note), method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% else %>

<td><%= link_to 'Back', notes_path %></td>

<% end %>

</table>

</li>

</ul>

</div>

<div class="notes_by_photo_layout" >

<% @random_notes.limit(4).each do |random_note| %>

<div class="notes_by_photo">

<div class="notes_by_photo_sub">

      <%=link_to image_tag(random_note.photo, {:style=>"border-radius:5px; width:100%; height:100%;"}) %>

      <div class="under_notes_by_photo">

        <p><strong>
          <%=link_to random_note.title, note_path(random_note), class: "white" %>
        </strong></p>

      </div>

      <div class="note_time">
      <%=link_to random_note.created_at.to_formatted_s(:without_second), note_path(random_note), class: "white" %>
      </div>
        
</div>

</div>

<% end %>

</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
