<div class="note-sidebar">

<p><span class="fab fa-envira" style="font-size:15px;"> Recent Notes</span></p>
<% @notes_recent.each do |note| %>
<li><%= link_to note.title, note %></li>
<% end %>

<br>

<p><span class="fab fa-envira" style="font-size:15px;"> Archives</span></p>
<% @notes_by_month.each do |month, notes| %>
<li>
<%= link_to "#{month.strftime('%B %Y')} ( #{notes.count} )", notes_by_month_path(:year=> month.year, :month => month.month) %>
</li>
<% end %>

<br>

<p><span class="fab fa-envira" style="font-size:15px;"> Category</span></p>

<% @categories.each do |category, count| %>

<li><%=link_to "#{category}  ( #{count} )", notes_by_category_note_path(category) %>
</li>

<% end %>

<br>

<% @category_others.each do |category_other, count| %>

<li><%=link_to "#{category_other}  ( #{count} )", notes_by_category_note_path(category_other) %>
</li>

<% end %>

</br>

<% if !user_signed_in? %>
<p style="padding-left:15px;"><%= link_to 'Log in', new_user_session_path %></p>
<% end %>

</div>
