<div class="note-show">

<p id="notice"><%= notice %></p>

<ul>

<li>
<h2><strong><%= @note.title %></strong></h2>
<%= @note.created_at.to_formatted_s(:without_second) %>
</li>

<li><%= image_tag(@note.photo, {:style=>"border-radius:5px; width:100%; height:70%;"}) %></li>

<li style="padding-top:20px;">
  <p><%= simple_format(@note.content) %></p>
</li>

<%if user_signed_in? %>

<table style="width:100%;">
<td><%= link_to 'Back', notes_path %></td>

<td style="text-align:right;"><%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Destroy', note_path(@note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</table>

<% else %>

<p><%= link_to 'Back', notes_path %></p>

<% end %>

</ul>

</div>