
<div class="notes_by_photo_order" >

<div class="btn-group" role="group" aria-label="..." >

  <button type="button" class="btn btn-default">
    <%=link_to "RECENT", articles_path, :style=>"color:black;" %>
  </button>

  <button type="button" class="btn btn-default">
    <%=link_to "SHUFFLE", articles_random_article_path(:id), :style=>"color:black;" %>
  </button>

</div>

</div>

<div class="article-index-layout">

    <% @articles.each do |article| %>

    <div class="article-index">

     <div class="article-index-sub">

        <%=link_to image_tag(article.image, { class:"article-index-image"}), article %>

        <ul>

        <li style="font-size:18px; padding-bottom:15px;"><strong><%=link_to article.title.truncate(35), article, class: "black" %></strong></li>
        
        <li>
        <table><tr>
        <td>
        <%= image_tag(article.user.image, {:style=>"height:50px; width:50px; border-radius:50%; position:absolute; top:0;"}) %></td>
        <td style="padding-left:55px;">
        <%= simple_format(article.comment.truncate(50)) %>
        </td>
        </tr></table>
        </li>

        <li style="position:absolute; left:5px; bottom:5px; color:#808080;">
        <span class="fa fa-leaf"> <%= article.source %></span></li>

        <%if user_signed_in? %>
        <li style="position:absolute; right:10px; bottom:5px;"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
        </ul>
      
      </div>
    </div>

    <% end %>

</div>

<div class="pagenation_bottom">
  <%= paginate @articles, :style=>"float:left;" %>
</div>

