<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control"  %>
  </div>

  <div class="field" style="padding-bottom:20px;" >
    <%= f.label :rating %><br>
    <%= f.hidden_field :rating, step:0.5 %>
    <div id='star-rating'></div>
  </div>

    <div class="field" style="padding-bottom:20px;">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :comment %><br>
    <%= f.cktext_area :comment, class: "form-control" %>
  </div>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <table>
  <tr>
    <td>
  <div class="field" style="padding-bottom:20px;">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
</td>
<td style="width:50px;"></td>
<td>
  <div class="field" style="padding-bottom:20px;">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
</td>
</tr>
</table>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :owner %><br>
    <%= f.text_field :owner, class: "form-control" %>
  </div>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :completion %><br>
    <%= f.select :completion, [["2018年","2018"],["2019年","2019"],["2020年","2020"],["2021年","2021"],["2022年","2022"],["2023年","2023"]],{include_blank:"選択してください"} %>
  </div>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :use %><br>
    <%= f.text_field :use, class: "form-control" %>
  </div>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :floor %><br>
    <%= f.number_field :floor %>
  </div>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :image %><br>
    <%= f.text_field :image, class: "form-control" %>
  </div>

  <div class="field" style="padding-bottom:20px;">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="actions" style="padding-bottom:20px;">
    <%= f.submit class: "btn btn-success", :style=>"padding:10px 30px;" %>
  </div>

<% end %>

<script>
$('#star-rating').raty({
  half: true,
  score:2,
  path: '/assets/',
  scoreName: 'map[rating]'
});
</script>
