<div class="row">

  <div class="col-md-6 col-xs-12">

    <div class="note-create">

    <h1>New Category</h1>

    <%= render 'form' %>

    <%= link_to 'Back', notes_path %>

    </div>

  </div>

  <div class="col-md-6 col-xs-12">

      <p id="notice"><%= notice %></p>

      <table class="tabele table-condensed">

      <h1 style="padding-left:25px;">Categories</h1>

          <% @categories.each do |category| %>

            <tr>

              <td class="category-table" >
              <%= category.name %></button></td>

              <td><button type="button" class="btn btn-info"><%= link_to 'Edit', edit_category_path(category), :style=>"color:white;" %></button></td>

              <td><button type="button" class="btn btn-danger">
              <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, :style=>"color:white;" %>
              </button></td>

            </tr>

          <% end %>

      </table>

      <br>

  </div>

</div>

